// /////////////////////////
// @@ INFO
// ////////////////////////

.r-info {
	color: $white;
	margin-bottom: $margin-bb;
	display: flex;
	flex-direction: column;

	@include mq(tablet) {
		flex-direction: row;
	}

	//teaser news
	&__aboutus {
	// &__news {
		background-color: $dark-gray;
		padding: 2rem;

		@include mq(tablet) {
			width: 50vw;
		}

		&--desktop {
			@include mq(desktop) {
				margin-left: 10vw;
			}
		}
	}

	&__news {
	// &__aboutus {
		background-color: $accent;
		padding: 2rem;

		@include mq(tablet) {
			width: 50vw;
		}

		&--desktop {
			@include mq(desktop) {
				margin-right: 10vw;
			}
		}
	}
}
