// /////////////////////////
// @@ MORE DETAILS 
// ////////////////////////

// field--node--field-more-details.html.twig

.c-more-details {

  &__img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
}