{# 
/**
* 29-11-2019
* highlighted and parts region teasers
*/
#}

<div class="container">

	<region class="r-highlghted-parts">

		{# <!-- start highlighted customized to "aan het werk" video on request 2020/11/12 --> #}
		{# one extra content type atwork #}
			<div class="r-highlighted">
        {{ page.atwork }}
		  </div>
		{# <!-- end highlighted --> #}

		<div class="r-parts">
			<div class="r-parts__inner">
				{{ page.parts }}
			</div>
		</div>
		{# end parts #}

	</region>
	{# end region highlighted-parts #}

</div>
{# end container  #}
